# Environnement utilisé en local : qa, pp ou prod
ENV=qa

# URL de base de chaque environnement
URL_QA=https://www.campusfrance.org
URL_PP=https://www.campusfrance.org
URL_PROD=https://www.campusfrance.org
